@model HobbyListForHobbyist.Models.DTOs.MiniModelDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hobby List for the Hobbyist</h1>    
</div>
