@model HobbyListForHobbyist.Models.DTOs.MiniModelDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hobby List for the Hobbyist</h1>    
</div>
<main>
    <div class="first-body-area">
        <style>
            .first-body-area {
                text-align: center;
                font-size: smaller;
            }
        </style>
        <p class="first-body-area-1">This is an application that is designed to help you, the hobbyist, manage your minis and supplies. We all know the pain of forgetting to paint a mini and discover it only when you have a match coming up. With this app, you can catalog what minis have been built, painted, and what supplies you still have on hand!</p>
    </div>
    <div class="imagegallery1">
        <style>
            .imagegallery1 {
                text-align: center;

            }
            .text {
                text-align: center;
                display: block;
            }
        </style>
        <img class="image1" src="images/Marine.png" alt="">
        <p class="text"><small>With this application, you are able to keep track of even the smallest and most obscure minis in your collection, as well as their build and paint status</small></p>
    </div>
    <div class="imagegallery2">
        <style>
            .imagegallery2 {
                text-align: center;
 
            }
            .text {
                text-align: center;
                display: block;
            }
        </style>
        <img class="image2" src="images/MultiMinis.png" alt="">
        <p class="text"><small>You are also able to get a list of all minis you have in the database and check their current status</small></p>
    </div>
    <div class="imagegallery3">
        <style>
            .imagegallery3 {
                text-align: center;

            }
            .text {
                text-align: center;
                display: block;
            }
        </style>
        <img class="image3" src="images/PaintedMini.png" alt="">
        <p class="text"><small>Once minis are built, you can check their paint status either as a single mini or all minis together</small></p>
    </div>
    <div class="imagegallery4">
        <style>
            .imagegallery4 {
                text-align: center;

            }
            .text {
                text-align: center;
                display: block;
            }
        </style>
        <img class="image4" src="images/Paints.png" alt="">
        <p class="text"><small>You are able to catalog all paints you have as well as update thier values (also delete those you no longer need)</small></p>
    </div>
    <div class="imagegallery5">
        <style>
            .imagegallery5 {
                text-align: center;
            }
            .text {
                text-align: center;
                display: block;
            }
        </style>
        <img class="image5" src="images/Supplies.png" alt="">
        <p class="text"><small>If you forget what types of paintbrushes or picks you have on hand, you are now able to catalog these supplies and tools as well</small></p>
    </div>
</main>
<span class="footerImages">
    <a href="https://www.linkedin.com/in/robert-carter-035baa165/"><img class="profileImages" src="images/Robertphoto.png" alt=""></a>

    <a href="https://www.linkedin.com/in/trevorstubbssea/"><img class="profileImages" src="images/Trevorphoto.png" alt=""></a>

    <a href="https://www.linkedin.com/in/yasirmohamud/"><img class="profileImages" src="images/Yasirphoto.png" alt=""></a>


</span>
