@model HobbyListForHobbyist.Models.DTOs.MiniModelDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hobby List for the Hobbyist</h1>    
</div>
<div class="first-body-area">
    <h3 class="first-body-area-1">This is an application that is designed to help you, the hobbyist, manage your minis and supplies. We all know the pain of forgetting to paint a mini and discover it only when you have a match coming up. With this app, you can catalog what minis have been built, painted, and what supplies you still have on hand!</h3>
</div>
